<div class="toolbar">
    <div class="title">
        <i class="pi pi-bookmark-fill" style="font-size: 1rem; margin-right: 12px;"></i>
        Your Library
    </div>
    <div class="library-section-content">
        <div class="library-section">
            <div class="profile-section-heading">
                Create your own space
            </div>
            <div class="profile-section-button">
                <div class="profile-button">
                    <i class="pi pi-user" style="font-size: 0.8rem; margin-right: 4px;"></i>
                    View Profile
                </div>
            </div>
        </div>
        <div class="side-nav-footer">
            <div class="terms-condition">
                <div class="terms-condition-item">Legal</div>
                <div class="terms-condition-item">Privacy Center</div>
                <div class="terms-condition-item">Privacy Policy</div>
                <div class="terms-condition-item">Cookies</div>
                <div class="terms-condition-item">About Ads</div>
                <div class="terms-condition-item">Accessibility</div>
            </div>
            <div class="language-section-button">
                <div class="language-button">
                    <i class="pi pi-globe" style="font-size: 0.8rem; margin-right: 2px;"></i>
                    English
                </div>
            </div>
        </div>
    </div>
</div>