<div class="toolbar">
    <div class="title">
        <div>
            <img class="title-logo" src="../../assets/tarang_logo.png" alt="" srcset=""> 
        </div>
        <!-- <div class="title-name">
            Tarang
        </div> -->
    </div>
    <div class="menu">
        <div class="menu-item active">
            <i class="pi pi-home" style="font-size: 1rem; margin-right: 12px;"></i>
            Home
        </div>
        <div class="menu-item">
            <i class="pi pi-search" style="font-size: 1rem; margin-right: 12px;"></i>
            Search
        </div>
    </div>  
</div>