<div class="home-footer">
    <div class="bottom-nav">
        <div class="nav-links">
            <div class="section section-1">
                <div class="section-title">
                    Company
                </div>
                <div class="section-content">
                    About <br/>
                    Jobs <br/>
                    For the Record <br/>
                </div>
            </div>
            <div class="section section-2">
                <div class="section-title">
                    Communities
                </div>
                <div class="section-content">
                    For Artists <br/>
                    Developers <br/>
                    Advertising <br/>
                    Investors <br/>
                    Vendors <br/>
                </div>
            </div>
            <div class="section section-3">
                <div class="section-title">
                    Useful links
                </div>
                <div class="section-content">
                    Support <br/>
                    Free Mobile App <br/>
                </div>    
            </div>
        </div>
        <div class="social-media-links">
            <button class="social-media-button">
                <i class="pi pi-instagram" style="font-size: 1 rem"></i>
            </button>
            <button class="social-media-button">
                <i class="pi pi-twitter" style="font-size: 1 rem"></i>
            </button>
            <button class="social-media-button">
                <i class="pi pi-facebook" style="font-size: 1 rem"></i>
            </button>
        </div>
    </div>
    <hr style="opacity: 10%;"/>
    <div class="copywrite">
        © 2023 Tarang
    </div>
</div>